/* TYPOGRAPHY
----------------------------------------------------*/
html {
    font-size: 1em;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 3.157em;
}

h2 {
    font-size: 2.369em;
}

h3 {
    font-size: 1.777em;
}

h4 {
    font-size: 1.333em;
}

small {
    font-size: 0.75em;
}

p {
    font-size: 1em;
}

#main-article p {
    margin-bottom: 1.3em;
}

i {
    font-style: italic;
}


/* GRID LAYOUT
-----------------------------------------------------*/
.grid-container {
    margin: 0 auto;
    width: 85%;
    max-width: 1500px;
}


/* SITE HEADER
----------------------------------------------------------*/
#site-header {
    padding: 1em 0;
}

#site-header h1 {
    font-family: 'Gentium Book Basic', serif;
}

#site-header h1,
#site-header p,
#site-header nav {
    display: inline-block;
}

nav {
    float: left;
    margin: 0.5em 0;
}

nav ul > li {
    display: inline-block;
    margin: 0 1em 0 0;
}


/* ARTICLE HEADER/BANNER
-------------------------------------------------------------------*/
#article-header {
    display: table;
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('placeholder.jpg');*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
    width: 100%;
    height: 20em;
    color: #fff;
}

#article-header h1 {
    font-weight: 800;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 1.5;
}

.article-header-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


/*
    ARTICLE COLUMN
-----------------------------------------------------------*/
#main-article img {
    width: 100%;
}

#main-article .caption {
    color: #808080;
    font-size: small;
}

#main-article .caption:before {
    font-family: FontAwesome;
    content: "\f030";
    margin-right: 0.25em;
}

p.phil {
    border-left: 3px solid rgba(255, 206, 154, 1.0);
    padding-left: 0.5em;
}

p.pete {
    border-left: 3px solid rgba(152, 222, 245, 1.0);
    padding-left: 0.5em;
    /*text-align: right;*/
}

#main-article p {
    max-width: 600px;
}


/*
    ARTICLE INFO ASIDE
----------------------------------------------------------------*/
#article-info {
    color: #808080;
    padding: 1.5em 0;
}

#article-info h4 {
    padding-top: 1.5em;
}

#article-info ol {
    list-style-type: decimal;
}


/*
    ARTICLE SHARE ASIDE
----------------------------------------------------------------*/
#article-share {
    color: #808080;
    padding: 1.5em 0;
}

#article-share h4 {
    padding: 0 0 0.25em 0;
}

#article-share h5 {
    padding: 1.5em 0 0.5em 0;
}

#article-share form input,
#article-share form textarea {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-size: initial;
}

#article-share form button {
    line-height: 1.5;
    cursor: pointer;
    font-size: initial;
}

#article-share ul li {
    display: inline-block;
    margin-right: 0.5em;
    text-align: center;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    padding: 10px;
}

#share-twitter {
    border: 1px solid #03b3ee;
}

#share-twitter:hover {
    background-color: #03b3ee;
}

#share-twitter:hover a i.fa-twitter {
    color: #fff;
}

#share-facebook {
    border: 1px solid #3067a3;
}

#share-facebook:hover {
    background-color: #3067a3;
}

#share-facebook:hover a i.fa-facebook {
    color: #fff;
}

#share-google {
    border: 1px solid #e15440;
}

#share-google:hover {
    background-color: #e15440;
}

#share-google:hover a i.fa-google-plus {
    color: #fff;
}

#article-share ul li a i.fa-facebook {
    color: #3067a3;
}

#article-share ul li a i.fa-twitter {
    color: #03b3ee;
}

#article-share ul li a i.fa-google-plus {
    color: #e15440;
}


/* COMMENT STYLES
    --------------------------------------------------*/
#comments-toggle {
    display: block;
    background-color: rgba(128, 128, 128, 0.2);
    text-align: center;
    margin: 1em 0;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

#comments-toggle:hover {
    background-color: rgba(128, 128, 128, 0.4);
}

.comments-shrunk {
    max-height: 0em;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    -webkit-transition: max-height 0.6s ease-in-out;
    -moz-transition: max-height 0.6s ease-in-out;
    -o-transition: max-height 0.6s ease-in-out;
    transition: max-height 0.6s ease-in-out;
}

.comments-expanded {
    max-height: 50em;
}

.comment {
    padding-top: 10px;
}

.comment:after {
    content: "";
    display: block;
    background: url('../assets/header-break.png') repeat-x scroll 0 50% rgba(0, 0, 0, 0);
    height: 10px;
}


/* LINK STYLES 
------------------------------------------------------------------*/
.no-decoration {
    border-bottom: none;
}

a {
    color: #5d656a;
    text-decoration: none;
    border-bottom: 1px dotted #c7cacb;
    font-weight: 600;
}

a:hover {
    color: #2b3033;
}

a img {
    border: none;
}


/*
    RESPONSIVE VIEWS
------------------------------------------------------------------*/
@media screen and (min-width: 1000px) {
    nav {
        margin: 1.4em 0 0 0;
        float: right;
        padding-left: 0.5em;
    }
}


@media screen and (min-width: 1200px) {
    #article-info {
        float: left;
        width: 30%;
        padding-top: 3em;
        padding-right: 3em;
        padding-bottom: 3em;
        box-sizing: border-box;
    }

    #main-article {
        float: left;
        width: 40%;
        padding-top: 3em;
        padding-bottom: 3em;
        box-sizing: border-box;
    }

    #article-share {
        float: left;
        width: 30%;
        padding-top: 3em;
        padding-left: 3em;
        padding-bottom: 3em;
        box-sizing: border-box;
    }
}


/* FOOTER 
---------------------------------------------------------------------*/
footer {
    clear: both;
    background: url('../assets/separator.png') no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    text-align: center;
    padding: 3.5em 0 1em 0;
}

footer p {
    padding-bottom: 1em;
}

#footer-logos li {
    display: inline;
    margin: 0 1.5em 0 0;
}

#footer-logos a i {
    opacity: 0.25;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#footer-logos a:hover i,
#footer-logos a:focus i {
    opacity: 0.7;
}