footer {
	clear: both;
}


/*
* D&D STYLING
*/
#drop {
	border: 10px dashed #ccc;
	width: 300px;
	min-height: 300px;
	margin: 20px;
}

#drop.hover {
	border: 10px dashed #0c0;
}

#drop img {
	display: block;
	margin: 10px auto;
}

#drop p {
	margin: 10px;
	font-size: 14px;
}

#assets-panel p {
	margin-left: 20px;
}

#progress {
	margin: 20px;
	width: 320px;
}

/*
*  ASSETS STYLING
*/
#asset-panel {
	float: left;
	margin: 1em 0;
}

#assets li {
	float: left;
	margin: 0 10px 10px 0;
	padding: 3px;
	border: 1px solid #000;
	cursor: pointer;
}

div.asset {
	position: relative;
}

#assets li div div span {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 5px 0;
	font-size: 1em;
}

#assets a {
	text-decoration: none;
}

#assets img {
	height: 150px;
	max-width: 100%;
}

#assets li .asset:hover span {
	display: block;
}