/*
* QUICK PICKS
*/
#quick-picks {
	margin: 10px 0;
}

#quick-picks div {
	display: inline-block;
	cursor: pointer;
	background-color: rgba(120, 120, 120, 0.3);
	text-align: center;
	border-radius: 20px;
	margin: 0 3px;
	padding: 5px 10px;
}

#quick-picks div:hover {
	background-color: rgba(120, 120, 120, 0.8);
}


/*
* PREVIEW AREA
*/
#preview-area {
	clear: both;
}

#html-preview,
#html-source {
	margin: 25px 0;
}

#html-source-area {
	clear: both;
}

#instructions {
	margin: 0;
	padding: 0;
}


/*
* DRAG & DROP
*/
#drop {
	border: 10px dashed #ccc;
	width: 300px;
	min-height: 300px;
	margin: 20px 0;
}

#drop.hover {
	border: 10px dashed #0c0;
}

#drop img {
	display: block;
	margin: 10px auto;
}

#drop p {
	margin: 10px 0;
	font-size: 14px;
}

#progress {
	width: 320px;
}


/*
*  ASSETS
*/
#asset-panel {
	float: left;
	margin: 1em 0;
}

#assets li {
	float: left;
	margin: 0 10px 10px 0;
	padding: 3px;
	border: 1px solid #000;
	cursor: pointer;
}

div.asset {
	position: relative;
}

#assets li div div span {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	font-size: 1em;
	box-sizing: border-box;
	padding: 5px;
}

#assets a {
	text-decoration: none;
}

#assets img {
	height: 150px;
	max-width: 100%;
}

#assets li .asset:hover span {
	display: block;
}