form > input,
form button {
	display: block;
}

form > input,
form textarea {
	width: 100%;
	line-height: 1.5em;
	margin: 10px 0;
}

button {
	width: 100px;
	line-height: 1.5em;
}

#main-col {
	float: left;
	width: 60.675%;
}

#markdown-syntax {
	float: right;
	width: 37.5%;
	height: 0;
}

#assets-panel {
	clear: both;
}
