body, html {
    height: 100%;
}

/*
* HEADER STYLES
----------------------------------------------------------------------------*/
#home-page-header {
    width: 100%;
    height: 40%;
    position: relative;
    overflow: hidden;
    color: #fff;
}

video {
    position: absolute;
    left: 50%;
    top: 50%;

    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
}

#header-text {
    position: relative;
    z-index: 1;
    top: 40%;
    text-align: center;
}

#header-text h1 {
    font-weight: 800;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 1.5;
}


/*
* ARTICLE THUMBNAIL STYLES
----------------------------------------------------------------------------*/
.grid-articles {
    margin: 2em auto;
    width: 85%;
    max-width: 1500px;
}

.grid-articles a {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    /*margin-right: 1em;*/
    /*margin-bottom: 1em;*/
}

.article-info {
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* width = 95% to allow for guttering */
.grid-articles a:first-child {
    /*width: 58.71%;*/
    /* padding percentages are calculated with respect to the width of the parent
     enabling the aspect ratio to be calculated */
    /*padding-bottom: 36.28278%;*/

    float: left;
    width: 61.8%;
    padding-bottom: 61.8%;
}

.grid-articles a:nth-of-type(2) {
    /*width: 38.29%;*/
    /*padding-bottom: 36.28278%;*/
    /*float: right;*/

    float: right;
    width: 38.2%;
    padding-bottom: 38.2%;
}

.grid-articles a:nth-of-type(3) {
    /*width: 38.29%;*/
    /*padding-bottom: 23.66322%;*/

    width: 23.6%;
    padding-bottom: 23.6%;
    float: left;
}

.grid-articles a:nth-of-type(4) {
    /*width: 36.28278%;*/
    /*padding-bottom: 23.66322%;*/

    float: left;
    width: 14.6%;
    padding-bottom: 14.6%;
}

.grid-articles a:nth-of-type(4) .article-info {
    display: none;
}

.grid-articles a:nth-of-type(5) {
    /*width: 21.42722%;*/
    /*padding-bottom: 23.66322%;*/
    float: left;

    width: 7.3%;
    padding-bottom: 9%;
}

.grid-articles a:nth-of-type(5) .article-info {
    display: none;
}

.grid-articles a:nth-of-type(6) {
    /*width: 21.42722%;*/
    /*padding-bottom: 23.66322%;*/
    float: right;

    width: 7.3%;
    padding-bottom: 9%;
}

.grid-articles a:nth-of-type(6) .article-info {
    display: none;
}