RewriteEngine on
RewriteRule ^articles/([A-Za-z0-9-]+)/?$					viewArticle.php?url=$1 						[L]				# handle requests for articles by title
RewriteRule ^tags/([A-Za-z0-9-]+)/?$						viewArticlesByTags.php?tag=$1 				[NC,L]			# handle requests to get articles by tag